.plugins-dropdown {
  position: relative;
}

.plugins-dropdown-menu {
  position: absolute;
  pointer-events: none;
  left: 0;
  bottom: 5dvh;
  background-color: #333;
  border-radius: 0.25rem;
  padding: 0.75rem;
  box-shadow: 2px 0 5px 0 rgba(0, 0, 0 0.1);
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 75ms ease-in-out, transform 75ms ease-in-out;
}

.plugins-dropdown-menu.active {
  opacity: 1;
}

.plugins:hover {
  background-color: #555;
}

.plugins:focus {
  background-color: #444;
}

.plugins-dropdown > .plugins:focus + .plugins-dropdown-menu {
  opacity: 1;
  pointer-events: auto;
  transform: translateY(0);
}

.plugins {
  color: white;
  height: 5dvh;
  width: 3dvw;
  font-size: 1.25rem;
  /* font-weight: bold; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: all 0.3s;
}
