.taskbar-plugins {
  background-color: transparent;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 5dvh;
  padding: 0.75dvw;
  font-size: 1.25rem;
}

.taskbar-plugins:hover {
  background-color: #555;
}
