.taskbar-tab-down {
  background-color: #333;
  border: none;
  border-left: 1px solid #999;
  height: 5dvh;
  width: 0.5dvw;
  transition: all 0.2s;
}

.taskbar-tab-down:hover {
  cursor: pointer;
  background-color: #555;
}
