.taskbar-tab-down {
  background-color: transparent;
  border: none;
  outline: 2px solid #111;
  height: 5dvh;
  width: 0.7dvw;
  transition: all 0.5s;
}

.taskbar-tab-down:hover {
  cursor: pointer;
  outline: 2px solid #222;
}
