.taskbar {
  background-color: #333;
  height: 5vh;
  width: 100vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
}

.taskbar-start,
.taskbar-search {
  gap: 0.5dvw;
  color: white;
  background-color: transparent;
  font-size: 1.8em;
  height: 5dvh;
  width: 2.8dvw;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  transition: all 0.1s;
  padding: 0.75dvw;
}

.taskbar-start:hover,
.taskbar-search:hover {
  color: whitesmoke;
  background-color: #555;
}

.taskbar-icons {
  background-color: transparent;
  color: white;
  height: 5dvh;
  width: 75dvw;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 0 0.2dvw;
}

button {
  border: none;
  background-color: transparent;
  color: white;
  height: 5dvh;
  width: 2.8dvw;
  font-size: 1.8rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
